extends layout

block content
  .name-entry
    label#prompt Name
    input#name
    button#enter Color My Name
    
  .name-stats
    label#binary Name in binary:
      p
    label#hex Name in hexidecimal:
      p
    
