extends layout

block content
  .content
    .name-entry
      h3.entry Enter your name:
      input(onkeydown="if (event.keyCode == 13) document.getElementById('enter').click()")#name
      button#enter Color It!
      
    .name-stats
      label.label Name in binary
        p#binaryName ???
      label.label Name in hexidecimal
        p#hexName ???
      label.label Name in color
        #colorName
    
