.content
  padding: 20px

  .name-entry
    .entry
      margin-top: 5px
      margin-bottom: 5px
      font-family: 'Yanone Kaffeesatz', sans-serif
      font-size: 25px
      color: cmn_grey_dark
      text-transform: lowercase
      font-weight: bold

    #name
      border-radius: 5px
      border-style: solid
      border-color: cmn_grey_dark
      color: cmn_grey_dark
      height: 21px

    #enter
      border-style: solid
      border-color: cmn_yellow_mid !important
      color: cmn_yellow_mid
      background-color: cmn_grey_dark
      border-width: 1px
      border-color: #888e98
      border-radius: 5px
      text-transform: uppercase
      font-family: 'Yanone Kaffeesatz', sans-serif;
      font-weight: bold
      font-size: 18px

  .name-stats
    margin-top: 20px

    .label
      font-size: 20px
      text-transform: lowercase
      letter-spacing: 1px
      font-weight: bold
      font-family: 'Yanone Kaffeesatz', sans-serif
      color: cmn_grey_dark !important

      #binaryName, #hexName
        margin-left: 30px
        margin-right: 30px
        font-family: 'Droid Sans Mono' !important
        letter-spacing: .1px
        color: cmn_grey_dark !important
        font-weight: 300
        font-size: 15px

      #colorName
        margin-top: 30px
        text-align: center

        .nameInColor
          position: relative
          display: inline-block
          height: 200px

          #extra
            color: #FFF
            font-weight: bold
            font-family: 'Droid Sans Mono' !important
            margin-bottom: 10px
            font-size: 50px
            position: absolute
            bottom: 0
            right: 10px
